.remote-cursor {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  transition:
    left 50ms linear,
    top 50ms linear;
  .remote-cursor-label {
    background: #4a90e2;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    white-space: nowrap;
    user-select: none;
  }

  .remote-cursor-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #4a90e2;
  }
}
